<div class="modal fade" id="modal-calendly" tabindex="-1" aria-labelledby="calendly" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <div class='container'>
          <div class='row'>
            <div class='close-container'>
              <span data-dismiss="modal" aria-label="Close">
                {% include svg/components/close.svg %}
              </span>
            </div>
            <div class='col-12'>
              <!-- Calendly inline widget begin -->
              <div class="calendly-inline-widget" data-url="https://calendly.com/nutriolab-id" style="min-width:320px;height:750px;"></div>
              <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
              <!-- Calendly inline widget end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
