<div class='header'>
  <div class="container-fluid">
    <div class='logo-container'>
      <svg id='logo' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 54" fill="none">
        <path class='stroke-comm' d="M4 31V5.08197L60 25.4098V0" stroke="#FFFFFF" stroke-width="5"/>
        <path class='stroke-comm' d="M0 50H65M0 39H65" stroke="#FFFFFF" stroke-width="7"/>
      </svg>
    </div>
    <div id='lang-container' class='d-flex'>
      <div class='select-lang'>
        <span class='chosen-lang'>🇬🇧</span>
        {% include svg/lang_indicator.svg %} 
      </div>
      <div id='lang-options' class='closed'>
        <div class='lang-option chosen'><span>🇬🇧</span></div>
        <div class='lang-option'><span>🇮🇩</span></div>
      </div>     
    </div>
  </div>
</div>
