---
---
@import 'variables';

.stroke-comm, .social-media path {
  stroke: $blue;
}

.footer-container {
  background-color: $yellow;
  transition: background-color $transitionDuration;
  height: $total-footer;
  color: $blue;
}

.rect-horizontal, .rect-vertical {
  position: absolute;
  top: 0;
  height: auto;
  width: auto;
}

.top-about-container {
  position: relative;
}

.about-container {
  overflow: hidden;
}

.about {
  background-color: $yellow;
  color: $blue;
  overflow: hidden;

  .top {
    .cta {
      text-align: right;

      .button {
        display: inline-block;
        padding: 0 7px;
        border-bottom: 5px solid $gray;
      }
    }
  }

  .about-us-title {
    margin-bottom: 50px;
  }

  .vision {
    margin-bottom: 50px;
  }

  .values {
    display: inline-block;

    .value {
      $borderRadius: 5px;
      margin-bottom: 10px;
      border: 1px dashed $blue;
      border-top-right-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;

      .value-text {
        display: inline-block;
        background-color: $gray;
        padding: 5px 15px;
        border-top-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        font-weight: bold;
      }
    }
  }
}

.bottom {
  position: relative;
}

.rect-vertical {
  z-index: 1;
  top: 50px;
}

.cta-container {
  background-color: $yellow;
  position: relative;
  padding: 20px;

  .cta {
    color: $blue;
    box-shadow: 0 -5px 0 $gray inset;
    position: absolute;
    padding-right: 10px;
  }

  .cta-2 {
    top: 50%;
    right: 0%;
    width: 50%;
    max-width: 200px;
  }
}