---
---
@import 'variables';

.stroke-comm, .social-media path, .common-stroke {
  stroke: $blue;
}

.line-connector {
  background-color: $blue;
}

.footer-container {
  background-color: $yellow;
  transition: background-color $transitionDuration;
  height: $total-footer;
  color: $blue;
}

.rect-horizontal, .rect-vertical {
  position: absolute;
  top: 0;
  height: auto;
  width: auto;
}

.top-about-container {
  position: relative;
}

.about-container {
  overflow: hidden;
}

.about {
  background-color: $yellow;
  color: $blue;
  overflow: hidden;

  .top {
    margin-bottom: 20px;

    .cta {
      .button {
        display: inline-block;
        padding: 0 7px;
        box-shadow: 0 -10px 0 $gray inset;
      }
    }
  }

  .vision {
    margin-bottom: 50px;
  }

  .values {
    display: inline-block;
    margin-top: 30px;

    .value {
      $borderRadius: 5px;
      margin-bottom: 10px;
      border: 1px dashed $blue;
      border-top-right-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;

      .value-text {
        display: inline-block;
        background-color: $gray;
        padding: 5px 15px;
        border-top-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        font-weight: bold;
      }
    }
  }
}

.bottom {
  position: relative;
}

.rect-vertical {
  z-index: 1;
  top: 50px;
}

.cta-container {
  padding: 20px 0 40px 0;
}

.cta {
  color: $blue;
  padding-right: 10px;
}

.cta-2 {
  z-index: 1;
  position: absolute;
  right: 0%;
  width: 65%;
  max-width: 200px;
  box-shadow: 0 -5px 0 $gray inset;
}