---
---
@import 'variables';

.header {
  position: fixed;
  padding-top: $total-padding;
  padding-left: $app-container-padding;

  .logo {
    width: $logo-width;
    height: $logo-height;
  }
}

.sider {
  position: fixed;
  bottom: 0;
  padding: $total-padding;

  .social-media {
    margin: 10px 0;  
  }
}

.content {
  padding-left: $total-padding + $logo-width;
  padding-right: $total-padding + $logo-width;
  height: 100vh;

  &:first {
    padding-top: $total-padding;
  }

  .contained {
    width: 100%;
    padding: 25px 25px 0 25px;
  }
}