---
---
@import 'variables';

#logo, .close-button, .select-lang, .lang-option {
  cursor: pointer;
}

.nutriolab-text {
  font-family: STHeitiSC-Medium, Heiti SC;
  font-weight: 500;
  letter-spacing: 0.15em;
  display: inline-block;
}

.blue {
  color: $blue;
}

.white {
  color: white;
}

.cta {
  a { 
    text-decoration: none; 
    color: inherit;
  } 
}

.chevron-down {
  fill: white;
}

.alata {
  font-family: 'Alata', sans-serif;
}

a:hover {
  text-decoration: none;
}

#menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;

  &.active {
    display: block;
  }
}

#lang-container {
  display: inline-block;
  position: fixed;
  top: $total-padding;
  right: $total-padding;
  vertical-align: middle;
  padding: 5px;
  z-index: 3;

  .chevron-down {
    z-index: 2;
  }

  .chosen-lang, .lang-indicator {
    display: inline-block;
  }

  #lang-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    visibility: visible;
    transition: height 0.5s;
    z-index: 3;

    .lang-option {
      display: block;
    }

    .lang-option.chosen {
      span {
        box-shadow: 0 -4px 0 $yellow inset;
      }
    }
  }

  #lang-options.closed {
    visibility: hidden;
  }
}

.line-connector {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='10px' height='11px' viewBox='0 0 10 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-dasharray='3,8'%3E%3Cline x1='5' y1='3' x2='5' y2='-7' id='Path-7' stroke='%23FFFFFF' stroke-width='10'%3E%3C/line%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='10px' height='11px' viewBox='0 0 10 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-dasharray='3,8'%3E%3Cline x1='5' y1='3' x2='5' y2='-7' id='Path-7' stroke='%23FFFFFF' stroke-width='10'%3E%3C/line%3E%3C/g%3E%3C/svg%3E");
  background-color: white;
  z-index: 1;
  width: $line-width;
  position: absolute;
  right: 15px;
  transition: background-color $transitionDuration;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;

  .header {
    z-index: 1;
    position: fixed;
    width: 100%;
    padding-top: $total-padding;
    padding-left: $app-container-padding;

    .logo-container {
      display: inline-block;
      max-width: $logo-width;
      max-height: $logo-height;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  #menu {
    position: fixed;
    height: 100vh;
    background-color: $yellow;
    padding: 25px 40px;
    min-width: 25%;
    color: $blue;
    font-family: Alata;
    font-size: 30px;
    transition: transform 0.5s;
    z-index: 3;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);

    .menu-header {
      height: 60px;
      margin-bottom: 20px;

      .close-button {
        vertical-align: baseline;
      }
    }

    .option {
      margin: 5px 0;
      cursor: pointer;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  #menu.closed {
    transform: translateX(-100%);
  }

  .sider {
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding: $total-padding;
    padding-bottom: $total-footer;

    .social-media {
      margin: 10px 0;
      width: $social-media-width;
      height: $social-media-height;
      transition: stroke $transitionDuration;
      cursor: pointer;
    }
  }

  .fixed-padded-content {
    padding-top: $total-padding + $logo-height;
    padding-left: $total-padding + $logo-width;
    padding-right: $total-padding + $logo-width;
  }

  .fixed-padded-section {
    position: relative;
    padding: 0 $total-padding + $logo-height;
    min-height: 100vh;
    height: auto;
    transition: background-color $transitionDuration;
  }

  .fixed-padded-section.last {
    min-height: 100vh;
  }

  .vp-container {
    height: 100%;
  }

  .footer-container {
    height: $total-footer;
    padding: $footer-top 30px $footer-bottom $total-padding + $logo-width;
  }
}

@media (max-width: $smallBreakpoint) {
  #lang-container {
    top: $m-total-padding;
    right: $m-total-padding;
  }

  body {
    .header {
      padding-top: $m-total-padding;
      padding-left: $m-app-container-padding;

      .logo-container {
        max-width: $m-logo-width;
        max-height: $m-logo-height;
      }
    }

    .sider {
      padding: $m-total-padding;
      padding-bottom: $m-total-footer;

      .social-media {
        width: $m-social-media-width;
        height: $m-social-media-height;
      }
    }

    .fixed-padded-content {
      padding-top: $m-total-padding + $m-logo-height;
      padding-left: $m-total-padding + $m-logo-width;
      padding-right: $m-total-padding + $m-logo-width;
    }

    .fixed-padded-section {
      padding: $m-total-padding + $m-logo-width;

      &:first {
        padding-top: $m-total-padding;
      }
    }

    .footer-container {
      padding: $m-footer-top 30px $m-footer-bottom $total-padding + $m-logo-width;
    }
  }
}