---
---
@import 'variables';

#logo, #close-button, .select-lang, .lang-option {
  cursor: pointer;
}

.nutriolab-text {
  font-family: STHeitiSC-Medium, Heiti SC;
  font-weight: 500;
  letter-spacing: 0.15em;
  display: inline-block;
}

.blue {
  color: $blue;
}

.white {
  color: white;
}

.cta {
  a { 
    text-decoration: none; 
    color: inherit;
  } 
}

.chevron-down {
  margin-left: 5px;
}

.alata {
  font-family: 'Alata', sans-serif;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;

  .header {
    z-index: 1;
    position: fixed;
    width: 100%;
    padding-top: $total-padding;
    padding-left: $app-container-padding;

    .logo-container {
      display: inline-block;
      max-width: $logo-width;
      max-height: $logo-height;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    #lang-container {
      float: right;
      vertical-align: middle;
      position: relative;
      padding: 5px;

      .chosen-lang {
        margin-right: 5px;
      }

      .chosen-lang, .lang-indicator {
        display: inline-block;
      }

      #lang-options {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        visibility: visible;
        transition: height 0.5s;

        .lang-option {
          display: block;
        }

        .lang-option.chosen {
          span {
            box-shadow: 0 -4px 0 $yellow inset;
          }
        }
      }

      #lang-options.closed {
        visibility: hidden;
      }
    }
  }

  #menu {
    position: fixed;
    height: 100vh;
    background-color: $yellow;
    padding: 25px 40px;
    min-width: 25%;
    color: $blue;
    font-family: Alata;
    font-size: 30px;
    transition: transform 0.5s;
    z-index: 2;

    .menu-header {
      height: 60px;
      margin-bottom: 20px;

      #close-button {
        vertical-align: baseline;
      }
    }

    .option {
      margin: 5px 0;
      cursor: pointer;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  #menu.closed {
    transform: translateX(-100%);
  }

  .sider {
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding: $total-padding;
    padding-bottom: $total-footer;

    .social-media {
      margin: 10px 0;
      width: $social-media-width;
      height: $social-media-height;
      transition: stroke $transitionDuration;
      cursor: pointer;
    }
  }

  .fixed-padded-content {
    padding-top: $total-padding + $logo-height;
    padding-left: $total-padding + $logo-width;
    padding-right: $total-padding + $logo-width;
  }

  .fixed-padded-section {
    position: relative;
    padding: 0 $total-padding + $logo-height;
    min-height: 100vh;
    height: auto;
    transition: background-color $transitionDuration;
  }

  .fixed-padded-section.last {
    min-height: 100vh;
  }

  .vp-container {
    height: 100%;
  }

  .footer-container {
    height: $total-footer;
    padding: $footer-top 30px $footer-bottom $total-padding + $logo-width;
  }
}

@media (max-width: $smallBreakpoint) {
  body {
    .header {
      padding-top: $m-total-padding;
      padding-left: $m-app-container-padding;

      .logo-container {
        max-width: $m-logo-width;
        max-height: $m-logo-height;
      }
    }

    .sider {
      padding: $m-total-padding;
      padding-bottom: $m-total-footer;

      .social-media {
        width: $m-social-media-width;
        height: $m-social-media-height;
      }
    }

    .fixed-padded-content {
      padding-top: $m-total-padding + $m-logo-height;
      padding-left: $m-total-padding + $m-logo-width;
      padding-right: $m-total-padding + $m-logo-width;
    }

    .fixed-padded-section {
      padding: $m-total-padding + $m-logo-width;

      &:first {
        padding-top: $m-total-padding;
      }
    }

    .footer-container {
      padding: $m-footer-top 30px $m-footer-bottom $total-padding + $m-logo-width;
    }
  }
}