---
---
@import 'variables';

.stroke-comm, .social-media path, .common-stroke {
  stroke: $blue;
}

.footer-container {
  color: $blue;
}

.contact {
  min-height: 100vh;
  background-color: white;
  color: $blue;

  .title {
    font-weight: bolder;
  }

  .part-one, .part-two {
    padding: 20px 0;

    .part-container {
      margin-bottom: 20px;
    }

    .title {
      font-weight: bold;
    }

    .message {
      margin-bottom: 0px;
    }
  }

  hr {
    border: 1px solid $blue;
  }
}
