---
---
@import 'variables';

.modal-body {
  padding: 35px;
}

.close-container {
  width: 100%;

  .close-button {
    float: right;
    cursor: pointer;
  }
}

.modal-content.modal-custom {
  border-radius: 20px;
}

.message {
  color: $blue;
  font-weight: bolder;
}

.input-container {
  margin-bottom: 25px;

  .label {
    margin-bottom: 5px;
    color: $blue;
    
    .required {
      color: red;
    }
  }

  .input {
    input, textarea {
      width: 100%;
      border: 0;
      background-color: #F8F8F8;
      padding: 5px 10px;

      &:focus {
        outline: none;
      }
    }

    .helper-message.hide {
      display: none;
    }
  }
}

span.button {
  cursor: pointer;
  background-color: $blue;
  padding: 10px 50px;
  color: white;
  border: 0;
  border-radius: 50px;
  text-transform: uppercase;
  word-break: keep-all;
  white-space: nowrap;
}
