---
---
@import 'variables';

.stroke-comm, .social-media path {
  stroke: $yellow;
}

.line-connector {
  top: 50%;
}

.extra-section {
  min-height: 100vh;
  transition: background-color $transitionDuration;
}

.white-underline {
  box-shadow: 0 -7px 0 rgb(255, 255, 255) inset;
}

.section-one {
  background-color: #0D25FD;
  color: white;

  .headline {
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 50px;
    margin-bottom: 0px;
    word-break: break-all;
  }

  .sub-headline {
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }

  .headline-content {
    max-width: 250px;
  }

  .underline {
    box-shadow: 0 -4px 0 rgba(231, 251, 105, 0.5) inset;
  }

  .cta {
    margin-top: 100px;
    box-shadow: 0 -7px 0 rgba(231, 251, 105, 0.8) inset;
    font-size: 16px;
    font-weight: 400;
  }

  #circle-border {
    transition: stroke 0.5s;
  }
}

.section-two {
  background-color: $yellow;
  color: $blue;

  .right-container {
    .headline {
      font-weight: bold;
    }
  }

  .testimony-col {
    overflow: hidden;
    padding-bottom: 20px;
  }

  .box {
    position: relative;
    overflow-y: clip;

    .slice-container {
      margin-right: 30px;

      .slice {
        position: absolute;
        top: 0;

        svg {
          height: 100%;
          width: auto;
        }
      }
    }

    .testimony-container {
      width: 100%;

      .testimony {
        $border-radius: 20px;
        background-color: rgb(196, 196, 196);
        padding: 10px;
        position: relative;
        max-width: 300px;

        .by {
          display: block;
        }
        
        &:first-of-type {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
          margin-bottom: 50px;

          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: calc(100% + 20px);
            top: -10px;
            left: -10px;
            border: 2px solid #0D25FD;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }
        }

        &:last-of-type {
          margin-left: auto;
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
          border-bottom-left-radius: $border-radius;

          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: calc(100% + 20px);
            top: -10px;
            left: -10px;
            border: 2px solid #0D25FD;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }
        }
      }
    }
  }

  .logos {
    $border-radius: 20px;
    background-color: rgb(182, 198, 179);
    margin-top: 40px;
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 15px;
    text-align: center;
    position: relative;
    
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: calc(100% + 20px);
      top: -10px;
      left: -10px;
      border: 2px solid #0D25FD;
      border-top-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .logo {
      display: inline-block;
      max-width: 120px;
      max-height: 120px;
    }
  }

  .cta {
    display: inline;
    margin-top: 50px;
    box-shadow: 0 -7px 0 rgba(255, 255, 255, 1) inset;
    font-size: 24px;
  }
}

.section-three {
  background-color: $darkBlue;
  color: white;

  .headline {
    display: inline;
    box-shadow: 0 -7px 0 rgba(255, 255, 255, 1) inset;
    color: $yellow;
  }

  .title {
    color: $yellow;
  }

  .left-container {
    padding-right: $line-width;
    
    .do {
      margin-bottom: 30px;
      text-align: right;
      
      .text {
        .description {
          margin-left: auto;
          max-width: 300px;
          color: $yellow;
        }
      }
    }
  }
}

.section-four {
  background-color: $gray;
  overflow: hidden;
  padding: 30px 0;
  position: relative;

  .line-end {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;

    .rect-horizontal-stroke {
      use {
        transition: stroke $transitionDuration;
      }
    }
  }

  .top {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

body {
  .section-four-end-line {
    min-height: initial;
  }

  .fixed-padded-section.section-four {
    min-height: initial;

    .text-container {
      display: block;
    }

    h2, h5 {
      text-align: right;
      color: #E7FB69;
    }

    .affiliates-container {
      $logoMaxWidth: 150px;
      max-width: $logoMaxWidth * 5;

      .aff {
        max-width: $logoMaxWidth;
        max-height: $logoMaxWidth;
        width: 100%;
        height: 100%;
        padding: 10px;
      }
    }

    .cta {
      color:rgb(23, 22, 177);
      box-shadow: 0 -5px 0 rgba(255, 255, 255, 1) inset;
      position: absolute;
      bottom: 0%;
      right: 0;
      width: 50%;
      max-width: 200px;
      padding-right: 10px;
    }
  }
}

.footer-container {
  background-color:rgb(196, 196, 196);
  transition: background-color $transitionDuration;
  height: $total-footer;
  color: $blue;
}


@media (max-width: $smallBreakpoint) {
  .section-two {
    .box {
      .testimony-container {
        .testimony {
          max-width: 200px;
        }
      }
    }
  }
}