---
---
@import 'variables';

@keyframes scroll {
  from { background-position-y: 0; }
  to { background-position-y: 20px; }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes dash-bg {
  to {
    background-position-y: 1000px;
  }
}

.line-connector {
  background-image: url("data:image/svg+xml,%3Csvg width='10px' height='11px' viewBox='0 0 10 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-dasharray='3,8'%3E%3Cline x1='5' y1='3' x2='5' y2='-7' id='Path-7' stroke='%23FFFFFF' stroke-width='10'%3E%3C/line%3E%3C/g%3E%3C/svg%3E");    
  z-index: 1;
  width: 17px;
  position: absolute;
  top: 50%;
  right: 15px;
  animation: dash-bg 50s linear infinite;
}

.section-one {
  background-color: #0D25FD;
  color: white;

  .headline {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 0px;
  }

  .sub-headline {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }

  .headline-content {
    max-width: 250px;
  }

  .underline {
    box-shadow: 0 -4px 0 rgba(231, 251, 105, 0.5) inset;
  }

  .cta {
    margin-top: 100px;
    box-shadow: 0 -7px 0 rgba(231, 251, 105, 0.8) inset;
    font-size: 24px;
  }

  .dashed-circle {
    animation: dash 50s linear infinite;
  }

  .circle {
    position: relative;
  }
}

.section-two {
  background-color: rgb(231, 251, 105);
  color: #0D25FD;

  .testimony-col {
    overflow: hidden;
    padding-bottom: 20px;
  }

  .box {
    position: relative;
    overflow-y: clip;

    .slice-container {
      margin-right: 30px;

      .slice {
        svg {
          height: 100%;
          width: auto;
        }
      }

      .slice-two, .slice-three {
        position: absolute;
        top: 0;
      }
    }

    .testimony-container {
      width: 100%;

      .testimony {
        $border-radius: 20px;
        background-color: rgb(196, 196, 196);
        padding: 10px;
        position: relative;
        max-width: 300px;

        .by {
          display: block;
        }
        
        &:first-of-type {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
          margin-bottom: 50px;

          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: calc(100% + 20px);
            top: -10px;
            left: -10px;
            border: 2px solid #0D25FD;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }
        }

        &:last-of-type {
          margin-left: auto;
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
          border-bottom-left-radius: $border-radius;

          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: calc(100% + 20px);
            top: -10px;
            left: -10px;
            border: 2px solid #0D25FD;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }
        }
      }
    }
  }

  .logos {
    $border-radius: 20px;
    background-color: rgb(182, 198, 179);
    margin-top: 40px;
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 20px;
    text-align: center;
    position: relative;
    
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: calc(100% + 20px);
      top: -10px;
      left: -10px;
      border: 2px solid #0D25FD;
      border-top-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .logo {
      display: inline-block;
    }
    
    .one {
      width: 120px;
      height: 90px;
    }

    .two, .three {
      width: 120px;
      height: 120px;
    }
  }

  .cta {
    display: inline-block;
    margin-top: 30px;
    box-shadow: 0 -7px 0 rgba(255, 255, 255, 1) inset;
    font-size: 24px;
  }
}

.section-three {
  background-color: rgb(23, 22, 177);
  color: #E7FB69;

  .headline {
    display: inline-block;
    box-shadow: 0 -7px 0 rgba(255, 255, 255, 1) inset;
  }

  .do {
    display: inline-block;
    margin-bottom: 30px;

    .text {
      margin-right: 30px;
      text-align: right;

      .description {
        margin-left: auto;
        max-width: 300px;
      }
    }

    .figure {
      text-align: center;

      svg {
        height: 100%;
      }
    }
  }
}

.section-four {
  background-color: rgb(196, 196, 196);

  .text-container {
    h2 {
      text-align: right;
      color: #E7FB69;
    }
  }

  .line-end {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
  }

  .cta {
    color:rgb(23, 22, 177);
    box-shadow: 0 -5px 0 rgba(255, 255, 255, 1) inset;
    position: absolute;
    bottom: 20%;
    right: 0;
    width: 20%;
  }
}