---
---
@import 'variables';

.footer-container {
  background-color: $darkBlue;
  color: white;
}

.header {
  background-color: $darkBlue;
}

.services {
  background-color: $darkBlue;
  min-height: 100vh;
  color: white;

  .header-title {
    position: sticky;
    top: $total-padding + $logo-height;
    background-color: $darkBlue;
    z-index: 1;
  }

  .package {
    margin-bottom: 20px;

    .title {
      cursor: pointer;
      font-weight: bolder;
      box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.4) inset;
    }
    
    .options, .keep-options {
      &.hide {
        display: none;
      }

      .option {
        height: 100%;
        $borderRadius: 5px;
        border: 0.5px dashed white;
        border-top-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        padding: 15px 10px;
        cursor: pointer;

        .option-title {
          .option-no {
            font-weight: bolder;
            font-size: 24px;
            margin-right: 5px;
          }

          .option-name {
            font-weight: bold;
            font-size: 16px;
          }
        }

        .option-desc {
          font-weight: 100;
          margin-bottom: 5px;

          &.bold {
            font-weight: bold;
          }
        }

        .features {
          font-weight: bold;
        }

        .price {
          padding-top: 10px;

          .currency {
            margin-right: 5px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 100;
          }

          .value {
            font-size: 24px;
            font-weight: bold;
            line-height: initial;
          }

          .cardinal {
            font-size: 14px;
            margin-left: 5px;
            font-weight: 100;
          }
        }
      }
    }
  }
}

.cta-container {
  background-color: $darkBlue;
  position: relative;
  padding: 20px;

  .cta {
    color:white;
    box-shadow: 0 -7px 0 $yellow inset;
    position: absolute;
    bottom: 20%;
    right: 0;
    width: 50%;
    max-width: 300px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 24px;
    
    a {
      box-shadow: 0 -5px 0 $yellow inset;
    }
  }
}

@media (max-width: $smallBreakpoint) {
  .services {
    .header-title {
      top: $m-total-padding + $m-logo-height;
    }
  }
}
