$transitionDuration: 0.5s;

/* Colors*/
$yellow: rgb(231, 251, 105);
$blue: #0D25FD;
$darkBlue: rgb(23, 22, 177);

/* Desktop */
$vendor-container-padding: 15px;
$app-container-padding: 15px;
$total-padding: $vendor-container-padding + $app-container-padding;

$logo-width: 65px;
$logo-height: 54px;
$social-media-width: 44px;
$social-media-height: 44px;

$line-width: 17px;

$footer-top: 30px;
$footer-bottom: 70px;
$total-footer: $footer-top + $footer-bottom;

/* Mobile */
$m-vendor-container-padding: 5px;
$m-app-container-padding: 5px;
$m-total-padding: $m-vendor-container-padding + $m-app-container-padding;

$m-logo-width: 40px;
$m-logo-height: 25px;

$m-social-media-width: 32px;
$m-social-media-height: 32px;

$m-footer-top: 15px;
$m-footer-bottom: 40px;
$m-total-footer: $m-footer-top + $m-footer-bottom;
