$vendor-container-padding: 15px;
$app-container-padding: 15px;
$total-padding: $vendor-container-padding + $app-container-padding;

$logo-width: 65px;
$logo-height: 54px;

$m-logo-width: 20px;
$m-logo-height: 9px;
