---
layout: base
assets_css:
  - assets/css/about.v01.css
assets_js:
  - assets/js/about.v01.js
---
{% assign aboutUs = site.data[page.lang].about %}
<div class='line-connector'></div>
<div class='cta cta-2'><a href='{{ aboutUs.cta.link }}'><b>{{ aboutUs.cta.name }}</b></a></div>
<div class='about-container'>
  <div class='fixed-padded-content about'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <h1 class='about-us-title content-with-line'>
            <b>{{ aboutUs.header }}</b>
          </h1>
        </div>
        <div class='col-12 col-md-6'>
          <div class='top content-with-line'>
            <p>{{ aboutUs.aboutUs.lineOne }}</p>
            <p>{{ aboutUs.aboutUs.lineTwo }}</p>
            <div class='cta'>
              <div class='button'>
                <a href='{{ aboutUs.aboutUs.cta.link }}'>
                  <b>
                    {{ aboutUs.aboutUs.cta.name }}
                  </b>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class='col-12 col-md-6'>
          <div class='bottom pl-md-3'>
            <div class='row'>
              <div class='col-12'>
                <div class='vision-mission content-with-line'>
                  <div class='vision'>
                    <h2 class='vm-title'><b>{{ aboutUs.vision.title }}</b></h2>
                    <div class='description'>
                      {{ aboutUs.vision.content }}
                    </div>
                  </div>
                  <div class='mission'>
                    <h2 class='vm-title'><b>{{ aboutUs.mission.title }}</b></h2>
                    <div class='description'>
                      {{ aboutUs.mission.content }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='fixed-padded-content about cta-container'>
            </div>
            <div class='row'>
              <div class='col-12'>
                <div class="values content-with-line">
                  <div class='d-flex flex-column'>
                    {% for value in aboutUs.values %}
                      <div class='value'>
                        <span class='value-text'>
                          {{ value }}
                        </span>
                      </div>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
