---
layout: base
assets_css:
  - assets/css/about.css
assets_js:
  - assets/js/about.js
---
<div class='fixed-padded-content about'>
  <div class='top'>
    <h1>About Us</h1>
    <p>We are not just a food consultant. We are the extension of your team. Together we are breathing innovation to your idea and bringing it to life</p>
    <p>We are driven by our purpose to make it easy for you as a food business owner in South-East Asia to seek any expertise (or any advices) in technical food product development in just one-click away. Our consulting experts will guide you throughout the process in making a delicious, marketable and consumer-centric food product. Your success is exactly the reason why we do what we do now.</p>
  </div>
  <div class='cta'>check our services</div>
  <div class='bottom'>
    <div class='vision-mission'>
      <div>
        <div class='header'>Vision</div>
        <div class='description'>
          To empower people to have a better livelihood through innovation and system design.
        </div>
      </div>
      <div>
        <div class='header'>Mission</div>
        <div class='description'>
          To help our clients make distinctive, lasting, and substantial improvements in their performance and to build a great firm that attracts, develops, excites, and retains exceptional people. 
        </div>
      </div>
    </div>
    <div class='values'>
      <div class='value'>
        Professionalism
      </div>
      <div class='value'>
        Customer - first
      </div>
      <div class='value'>
        Continuous Improvement
      </div>
      <div class='value'>
        Integrity
      </div>
      <div class='value'>
        Collaboration
      </div>
    </div>
  </div>
</div>