---
layout: base
assets_css:
  - assets/css/about.css
assets_js:
  - assets/js/about.js
---
<div class='top-about-container'>
  <div class='line-end line-end-top'>
    {% include svg/section_four/line-end.svg %}
  </div>
  <div class='fixed-padded-content about'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-md-6'>
          <div class='top'>
            <h1 class='about-us-title'>
              About Us
            </h1>
            <p>We are not just a food consultant. We are the extension of your team. Together we are breathing innovation to your idea and bringing it to life</p>
            <p>We are driven by our purpose to make it easy for you as a food business owner in South-East Asia to seek any expertise (or any advices) in technical food product development in just one-click away. Our consulting experts will guide you throughout the process in making a delicious, marketable and consumer-centric food product. Your success is exactly the reason why we do what we do now.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='fixed-padded-content about cta-container'>
  <div class='cta cta-1'>check our services</div>
</div>
<div class='bottom'>
  <div class='line-end line-end-bottom'>
    {% include svg/section_four/line-end.svg %}
  </div>
  <div class='fixed-padded-content about'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 offset-md-6 col-md-6'>
          <div class='bottom'>
            <div class='vision-mission'>
              <div class='vision'>
                <h2 class='vm-title'>Vision</h2>
                <div class='description'>
                  To empower people to have a better livelihood through innovation and system design.
                </div>
              </div>
              <div class='mission'>
                <h2 class='vm-title'>Mission</h2>
                <div class='description'>
                  To help our clients make distinctive, lasting, and substantial improvements in their performance and to build a great firm that attracts, develops, excites, and retains exceptional people. 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='fixed-padded-content about cta-container'>
    <div class='cta cta-2'>consult with us</div>
  </div>
  <div class='fixed-padded-content about'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 offset-md-6 col-md-6'>
          <div class="values">
            <div class='d-flex flex-column'>
              <div class='value'>
                <span class='value-text'>
                  Professionalism
                </span>
              </div>
              <div class='value'>
                <span class='value-text'>
                  Customer - first
                </span>
              </div>
              <div class='value'>
                <span class='value-text'>
                  Continuous Improvement
                </span>
              </div>
              <div class='value'>
                <span class='value-text'>
                  Integrity
                </span>
              </div>
              <div class='value'>
                <span class='value-text'>
                  Collaboration
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>