<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/common.css" | relative_url }}">
    {% for stylesheet in layout.assets_css %}
      <link rel="stylesheet" href="{{stylesheet}}">
    {% endfor %}
    {% for stylesheet in page.assets_css %}
      <link rel="stylesheet" href="{{stylesheet}}">
    {% endfor %}
    <!--SEO-->
    <meta name="author" content="Nutriolab">
    <meta name="keywords" content="{{ site.data[page.lang].default.seo.keywords }}" />
    <meta name="description" content="{{ page.description | default: site.data[page.lang].default.seo.description | truncate: 156 }}">
    <meta property="og:title" content="{{ page.title | default: 'Nutriolab' }}">
    <meta property="og:description" content="{{ page.description | default: site.data[page.lang].default.seo.description | truncate: 156 }}">
    <meta property="og:image" content="{{ page.seo_image_url | default: site.data[page.lang].default.seo.image_url | absolute_url }}">
    <meta property="og:url" content="{{ page.permalink | default: page.url | absolute_url }}">
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ page.description | default: site.data[page.lang].default.seo.description | truncate: 156 }}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YWJJ41DV58"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-YWJJ41DV58');
    </script>
  </head>
  <body>
    {% include menu.html %}
    {% include lang-selector.html %}
    <div id='menu-overlay'></div>
    {% include header.html %}
    {% include sider.html %}
    <div id='content'>
      {{ content }}
    </div>
    {% include footer.html %}
    <!--Javascript-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    {% for js in layout.assets_js %}
    <script src="{{js}}"></script>
    {% endfor %}
    {% for js in page.assets_js %}
    <script src="{{js}}"></script>
    {% endfor %}
    <script src="{{ "/assets/js/common.js" | relative_url }}"></script>
  </body>
</html>