<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/common.css" | relative_url }}">
    {% for stylesheet in layout.assets_css %}
      <link rel="stylesheet" href="{{stylesheet}}">
    {% endfor %}
    {% for stylesheet in page.assets_css %}
      <link rel="stylesheet" href="{{stylesheet}}">
    {% endfor %}
    <!--SEO-->
    <meta name="author" content="Nutriolab">
    <meta name="keywords" content="" />
    <meta property="og:title" content="{{ page.title | default: 'Solar Chapter' }}">
    <meta property="og:description" content="{{ page.description | truncate: 156 }}">
    <meta property="og:image" content="{{ page.metadataImage | default: '/assets/media/logo_square.png' | absolute_url }}">
    <meta property="og:url" content="{{ page.permalink | default: page.url | absolute_url }}">
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ page.description | truncate: 156 }}" />
  </head>
  <body>
    {% include header.html %}
    {% include menu.html %}
    {% include sider.html %}
    {{ content }}
    {% include footer.html %}
    <!--Javascript-->
    {% for js in layout.assets_js %}
    <script src="{{js}}"></script>
    {% endfor %}
    {% for js in page.assets_js %}
    <script src="{{js}}"></script>
    {% endfor %}
    <script src="{{ "/assets/js/common.js" | relative_url }}"></script>
  </body>
</html>