---
layout: base
assets_css:
  - assets/css/contact.css
  - assets/css/form.css
assets_js:
  - assets/js/form.js
---
{% assign contact = site.data[page.lang].contact %}
<div class='fixed-padded-content contact'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 mb-4'>
        <h1 class='title'>{{ contact.header }}</h1>
      </div>
      <div class='col-12'>
        <div class='part-one d-flex'>
          <div class='part-container flex-grow-1'>
            <h2 class='title'>{{ contact.partOne.title }}</h2>
            {% for message in contact.partOne.messages %}
              <p class='message'>{{ message }}</p>
            {% endfor %}
          </div>
          <div>
            <span class='button' data-toggle="modal" data-target="#modal-part-one">
              {{ contact.partOne.buttonText }}
            </span>
          </div>
        </div>
        <hr>
        <div class='part-two d-flex'>
          <div class='part-container flex-grow-1'>
            <h2 class='title'>{{ contact.partTwo.title }}</h2>
            {% for message in contact.partTwo.messages %}
              <p class='message'>{{ message }}</p>
            {% endfor %}
          </div>
          <div>
            <span class='button' data-toggle="modal" data-target="#modal-part-two">
              {{ contact.partTwo.buttonText }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include form/calendly.html %}
{% include form/email.html %}
