---
layout: base
assets_css:
  - assets/css/contact.v01.css
  - assets/css/email_form.v01.css
assets_js:
  - assets/js/email_form.v01.js
---
{% assign contact = site.data[page.lang].contact %}
<div class='fixed-padded-content contact'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 mb-4'>
        <h1 class='title'>{{ contact.header }}</h1>
      </div>
      <div class='col-12'>
        <div class='part-one d-flex flex-wrap'>
          <div class='part-container flex-grow-1'>
            <h2 class='title'>{{ contact.calendly.title }}</h2>
            {% for message in contact.calendly.messages %}
              <p class='message'>{{ message }}</p>
            {% endfor %}
          </div>
          <div>
            <span class='button' data-toggle="modal" data-target="#modal-calendly">
              {{ contact.calendly.buttonText }}
            </span>
          </div>
        </div>
        <hr>
        <div class='part-two d-flex flex-wrap'>
          <div class='part-container flex-grow-1'>
            <h2 class='title'>{{ contact.email_form.title }}</h2>
            {% for message in contact.email_form.messages %}
              <p class='message'>{{ message }}</p>
            {% endfor %}
          </div>
          <div>
            <span class='button' data-toggle="modal" data-target="#modal-email">
              {{ contact.email_form.buttonText }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include form/calendly.html %}
{% include form/email_form.html %}
