---
layout: base
assets_css:
  - assets/css/index.css
assets_js:
  - assets/js/index.js
---
<div class="fixed-padded-section section-one d-flex">
  <div class='container'>
    <div class="row vp-container align-items-start">
      <div class="test col col-sm-12 col-md-7 align-self-center mb-5 mb-md-0">
        <div class='circle'>
          {% include svg/section_one/landing_circle.svg %}
        </div>
        <div class='line-connector'></div>
      </div>
      <div class="col col-sm-12 col-md-5 align-self-center">
        <h1 class='headline'>Nutriolab</h1>
        <p class='sub-headline'><i>Smart Food Businesses</i></p>
        <p class='headline-content'>We are not just a food consultant, <span class='underline'><b>We are the extension of your team</b></span>, Together we build the future of food industry.</p>
        <span class='cta'>Get to know us</span>
      </div>
    </div>
  </div>
</div>
<div class="fixed-padded-section section-two d-flex">
  <div class='container'>
    <div class="row vp-container align-items-start">
      <div class="col col-sm-12 col-md-7 align-self-center testimony-col">
        <p class='mb-4'>Testimonials:</p>
        <div class='box d-flex flex-row mb-5 mb-md-0 mr-0 mr-md-5'>
          <div class='slice-container'>
            <div class='slice slice-one'>
              {% include svg/section_two/slice-one.svg %}
            </div>
            <div class='slice slice-two'>
              {% include svg/section_two/slice-two.svg %}
            </div>
            <div class='slice slice-three'>
              {% include svg/section_two/slice-three.svg %}
            </div>
          </div>
          <div class='testimony-container d-flex flex-column justify-content-between'>
            <div class='testimony'>
              “I am very pleased to have consulted with Nutriolab. Ubae team has learned a lot, starting from the ingredients to food processing. Nutriolab team is very responsive and knowledgeable.”
              <span class='by'>- <b>Grace Purba</b>, Owner of Ubae</span>
            </div>
            <div class='testimony'>
              "Tacos El Asa was started during the height of the Coronavirus pandemic with 1 person. Nutriolab, through its team and multidisciplinary expertise, has been able to provide actionable insights to help Tacos El Asa grow and maintain quality even when resources are limited." 
              <span class='by'>- <b>Gideon Yuwono</b>, Owner of Taco El Asa</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-5 align-self-center">
        <h1 class='headline'>
          Nutriolab
        </h1>
        <div class='description'>
          is an Indonesian-based Food & Beverage consulting company. We bring our expertise in technical food product development to help you materialize your product concept. Your success is exactly the reason why we do what we do now. 
        </div>
        <div class='logos'>
          <img class='logo one' loading='lazy' src='/assets/media/tacoelasa.png' />
          <img class='logo two' loading='lazy' src='/assets/media/ubae.png' />
          <img class='logo three' loading='lazy' src='/assets/media/kisahtani.png' />
        </div>
        <span class='cta'>
          <b>Consult with us!</b>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="fixed-padded-section section-three d-flex">
  <div class='container'>
    <div class="row vp-container align-items-center">
      <div class="col col-sm-12 col-md-7 order-2 order-md-1">
        <div class="do d-flex flex-row align-items-center">
          <div class='text col-9'>
            <div class='title'>
              <h3>
                Food Science
              </h3>
            </div>
            <div class='description'>
              High level food science based Product Development Process (PDP)
            </div>
          </div>
          <div class='figure col-3 text-align-center'>
            {% include svg/section_three/food_science.svg %}
          </div>
        </div>
        <div class="do d-flex flex-row align-items-center">
          <div class='text col-9'>
            <div class='title'>
              <h3>
                Food Processing
              </h3>
            </div>
            <div class='description'>
              Small and mind-pilot production and processing management
            </div>
          </div>
          <div class='figure col-3'>
            {% include svg/section_three/food_processing.svg %}
          </div>
        </div>
        <div class="do d-flex flex-row align-items-center">
          <div class='text col-9'>
            <div class='title'>
              <h3>
                Food Packaging
              </h3>
            </div>
            <div class='description'>
              Packaging options, product claims and shelf life
            </div>
          </div>
          <div class='figure col-3'>
            {% include svg/section_three/food_packaging.svg %}
          </div>
        </div>
        <div class="do d-flex flex-row align-items-center">
          <div class='text col-9'>
            <div class='title'>
              <h3>
                Nutrition
              </h3>
            </div>
            <div class='description'>
              Nutrition values, allergen, and functionalities
            </div>
          </div>
          <div class='figure col-3'>
            {% include svg/section_three/nutrition.svg %}
          </div>
        </div>
        <div class="do d-flex flex-row align-items-center">
          <div class='text col-9'>
            <div class='title'>
              <h3>
                Customer Study
              </h3>
            </div>
            <div class='description'>
              Sensory study, market research, and high-level business development
            </div>
          </div>
          <div class='figure col-3'>
            {% include svg/section_three/consumer_study.svg %}
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-5 order-1 order-md-2">
        <h1 class='headline'>What do we do</h1>
      </div>
    </div>
  </div>
</div>
<div class="fixed-padded-section section-four d-flex">
  <div class='line-end'>
    {% include svg/section_four/end.svg %}
  </div>
  <div class='cta'>consult with us</div>
  <div class='container'>
    <div class="row vp-container align-items-center justify-content-center">
      <div class='text-container'>
        <h2>we are not just your food consultant</h2>
        <h2>we are the extension of your team</h2>
      </div>
    </div>
  </div>
</div>
