---
layout: base
assets_css:
  - assets/css/index.css
assets_js:
  - assets/js/full_page.js
---
<!-- <svg xmlns="http://www.w3.org/2000/svg" width="837" height="308" viewBox="0 0 837 308" fill="none" >
  <path d="M0 297.974H724.011C758.341 298.809 827 279.545 827 195.812C827 112.078 827 30.3817 827 0" stroke="#0D25FD" stroke-width="20" stroke-dasharray="3 8" id='path-test'/>
</svg> -->
<!-- <div class='content section-one d-flex'>
  <div class='container-fluid d-flex'> -->
    <div class="content section-one d-flex">
      <div class="row contained align-self-center">
        <div class="col col-sm-12 col-md-7 align-self-center text-right">
          <div class='circle d-flex'>
            {% include landing_circle.svg %}
            <div class='connector'></div>
          </div>
        </div>
        <div class="col col-sm-12 col-md-5 align-self-center">
          <h1 class='headline'>Nutriolab</h1>
          <p class='sub-headline'><i>Smart Food Businesses</i></p>
          <p class='headline-content'>We are not just a food consultant, <span class='underline'>We are the extension of your team</span>, Together we build the future of food industry.</p>
          <span class='cta'>Get to know us</span>
        </div>
      </div>
    </div>
</div>
<div class="content section-two d-flex">
</div>