---
layout: base
assets_css:
  - assets/css/team.css
assets_js:
  - assets/js/team.js
---
{% assign team = site.data[page.lang].team %}
<div class='line-connector'></div>
<div class='fixed-padded-content team'>
  <div class='container'>
    <div class='row'>
      <div class='col-10 team-section'>
        {% for group in team.groups %}
        <div class='group'>
          <span class='name'>
            {{ group.name }}
          </span>
        </div>
        <div class='row d-flex align-items-stretch'>
          {% for member in group.members %}
          <div class='col-xs-12 col-md-6 mb-5'>
            <div class='member'>
              <div class='profile-pict' style='background-image: url("{{ member.image }}")'></div>
              <div class='details'>
                <span class='name'>
                  {{ member.name }}
                </span>
                <div class='section'>
                  <b>
                    {{ team.title.education }}
                  </b>
                  <div class='content'>
                    {{ member.education }}
                  </div>
                </div>
                <div class='section'>
                  <b>
                    {{ team.title.expertise }}
                  </b>
                  <div class='content'>
                    {{ member.expertise }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div class='col-2'>
        <h4 class='pr-3'>
          <b>
            {{ team.headline }}
          </b>
        </h4>
      </div>
    </div>
  </div>
</div>
